<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Register Page</title>
</head>
<body>
    <nav>
        <h4>Register</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login </a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="card"> 
            <div class="card-header">
                Register Form
            </div>       
            <div class="card-body">
                <form action="/auth/register" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" class="form-control" id="name" name="name" placeholder="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="e-mail" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordconfirm" name="confirmpassword" placeholder="confirm password" required>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Register User</button>
                </form>
            </div>
        </div>

        {{#if MessageChannel }}
        <h4 class="alert alert-danger mt-6">{{MessageChannel}} </h4>
        {{/if}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
    crossorigin="anonymous"></script>
</body>
</html>